<%- include('./shared/includes/head', {pageTitle: 'AIMS'}) %>
<meta name="description" content="Discover excellence in education at AIMS International, organized by Al-Khair Trust International. Our school is dedicated to providing a modern and systematic academic and scientific education system. Prepare your child to face the challenges of the future with proficiency in English, Arabic, and Urdu languages, deep insight into modern scientific subjects, and self-defense training. Our qualified and hardworking staff ensures character building based on Islamic principles. With a curriculum designed for upcoming challenges, comprehensive Quranic education, and individual attention to each student, AIMS International stands as a beacon for holistic education in Pakistan. Enroll your child today for affordable fees, free medical checkups, and a range of extra-curricular activities." />
<meta name="keywords" content="AIMS International, Al-Khair Trust International, modern education, scientific education, language proficiency, Quranic education, self-defense training, character building, Islamic principles, holistic education, qualified staff, individual attention, affordable fees, extra-curricular activities, Pakistan education" />
<meta name="call-to-action" content="Join AIMS International to shape your child's future with a balanced and holistic approach to education. Enroll now for excellence in academics, character development, and a brighter future!" />
<link rel="stylesheet" href="/styles/home.css">
<script src="/scripts/smooth-scroll.js" defer></script>
<script src="/scripts/popup.js" defer></script>
</head>
<body>
  <%- include('./shared/includes/header') %>
  <main>
  <!-- Popup Container -->
  <div id="popup-container">
    <div id="popup-content">
        <img src="/images/popup.jpg" alt="Popup Image">
        <button id="close-button">Close</button>
    </div>
  </div>
  <header id="home-header">
    <div id="logo">
      <a href="/"><img src="/icons/logo.png" alt="Logo" /></a>
    </div>
    <div id="headings">
      <h2>Read In The Name Of The Lord Who Created</h2>
      <div>
        <h1>AIMS</h1>
        <h2>Islamic Montessori & Elementary School</h2>
      </div>
    </div>
  </header>
  <nav class="home-nav">
    <ul class="home-menu">
      <li><a href="#mission">Mission & Objectives</a></li>
      <li><a href="#faculty">Faculty Distinction</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#bottom">Contact Us</a></li>
    </ul>
  </nav>
  <main id="home-content">
    <img id="banner" src="/images/banner.jpg" alt="Admission Banner">
    <section id="about">
      <h3>About Us</h3>
      <p>AIMS International (organized by Al-Khair Trust International) has been launched to introduce a modern and systematic academic and scientific education system. The goal of this system of education is to prepare an individual who can face the all-powerful and diverse challenges of the coming age armed with modern education, modern techniques,physical prowess and complete Islamic awareness. For this purpose, we equip the children who come to us with proficiency in English, Arabic and Urdu languages, deep insight into modern scientific subjects, complete training in latest scientific inventions such as computer, AI, complete Quranic teaching and self-defense training so that, manpower of the Pakistani nation and the Muslim Ummah is valuable. If you agree with us, bring your little one to us so that we can work hard to make him a good Muslim and a wholesome person.</p>
    </section>
    <h3>We Offer</h3>
    <section id="offer">
      <div>
        <img class="grades" src="/images/junior.jpg" alt="Montessori Junior">
        <h4>Montessori Junior</h4>
      </div>
      <div>
        <img class="grades" src="/images/advance.jpg" alt="Montessori Advance">
        <h4>Montessori Advance</h4>
      </div>
      <div>
        <img class="grades" src="/images/hifz.jpg" alt="Hifz-e-Quran">
        <h4>Hifz-e-Quran</h4>
      </div>
      <div>
        <img class="grades" src="/images/senior.jpg" alt="Montessori Senior">
        <h4>Montessori Senior</h4>
      </div>
      <div>
        <img class="grades" src="/images/grade1-8.jpg" alt="Grade 1st to 8th">
        <h4>Grade 1st to 8th</h4>
      </div>
    </section>
    <div class="register-btn">
      <a href="/register" class="btn btn-alt ">Apply Now!</a>
    </div>
    <section id="mission">
      <h3>Mission & Objectives</h3>
      <p>AIM Schools International is the project of Al Khair Trust International. It has been inaugurated to introduce a new and well organized system of education. The Objective is to construct:</p>
      <ul>
        <li>A person who can successfully face the challenges of the coming era.</li>
        <li>A person who can share his best to the development of country and the Ummah.</li>
        <li>A good servant of mankind and a loyal slave to his Lord Allah.</li>
      </ul>
    </section>
    <section id="faculty">
      <h3>Faculty Distinction</h3>
      <p>The School believes that the quality and standard education can only be acquired through the ability, proficiency and devotion of teachers and to achieve this goal the school has hired qualified, competent and experienced teachers to form its faculty.</p>
    </section>
    <section id="features">
      <h3>Our Edge</h3>
      <ul>
        <li>Qualified and Hardworking Staff.</li>
        <li>Reasonable Fees Package.</li>
        <li>Curriculum according to the coming Challenges.</li>
        <li>Comprehensive Quaranic Education.</li>
        <li>Character Building According to the Islamic Principles.</li>
        <li>Self Defence Training.</li>
        <li>Introductory Computer Knowledge.</li>
        <li>Special Attention for Languages (Urdu, English, Arabic)</li>
        <li>Individual Attention to Each Student.</li>
        <li>Healthy Extra Curricular Activities.</li>
        <li>Free Medical Checkup (if needed)</li>
        <li>Transport Facility (On payment only)</li>
      </ul>
    </section>
  </main>
  </main>
  <%- include('./shared/includes/footer') %>
