<%- include('../shared/includes/head', {pageTitle: 'Register Student'}) %>
<meta name="description" content="Register your child at AIMS International for a quality education that emphasizes modern techniques, language proficiency in English, Arabic, and Urdu, comprehensive Quranic teaching, and self-defense training. Our qualified and hardworking staff ensures individual attention, character building, and a curriculum designed for upcoming challenges. Affordable fees, free medical checkups, and transport facilities available. Join AIMS International to shape your child's future with a balanced and holistic approach to education." />
<meta name="keywords" content="AIMS International, school registration, quality education, language proficiency, Quranic teaching, self-defense training, character building, holistic education, affordable fees, qualified staff" />
<meta name="call-to-action" content="Register your child at AIMS International today for a well-rounded education and a brighter future!" />
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h1>Register Student</h1>
    <%- include('includes/student-form', { submitPath: '/', inputData: inputData, classes: classes }) %>
  </main>
  <%- include('../shared/includes/footer') %>
