<%- include('../shared/includes/head', {pageTitle: 'Register Student'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h1>Register Student</h1>
    <%- include('includes/student-form', { submitPath: '/', inputData: inputData, classes: classes }) %>
  </main>
  <%- include('../shared/includes/footer') %>
