<%- include('../shared/includes/head', {pageTitle: 'Registration Successful'}) %>
<link rel="stylesheet" href="/styles/students.css">
</head>
<body>
  <%- include('../shared/includes/header') %>
  <main>
    <h1 id="success-h1">Student Registered Successfully!</h1>
    <div id="success">
        <p><a class="btn" href="/">Home</a></p>
        <p><a class="btn btn-alt" href="/register">Register Another Child</a></p>
    </div>
  </main>
  <%- include('../shared/includes/footer') %>