<header id="main-header">
  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <div id="logo">
    <a href="/"><img src="/icons/Logo.png" alt="Logo" /></a>
  </div>
  <nav><%- include('nav-items') %></nav>
</aside>
